[module/divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #303030

[module/endl]
type = custom/text

content            = ""
content-foreground = #303030
content-background = #212121

[module/endld]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #212121


[module/dividerr]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #303030

[module/endr]
type = custom/text

content            = ""
content-foreground = #303030
content-background = #212121

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; LEFT SIDE - TOP POLYBAR ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[module/date_end]
type = custom/text

content            = ""
content-foreground = #1f1f1f
content-background = #212121

[module/hour_end]
type = custom/text

content            = ""
content-foreground = #303030
content-background = #212121

[module/hour_date_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #1f1f1f

[module/hour_dwm_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #303030

[module/dwm_end]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #212121

[module/date_mpd_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #242424

[module/mpd_end]
type = custom/text

content            = ""
content-foreground = #242424
content-background = #212121

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; RIGHT SIDE - TOP POLYBAR ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
[module/temp_end]
type = custom/text

content            = ""
content-foreground = #484848
content-background = #212121

[module/temp_temp_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #484848

[module/temperature_end]
type = custom/text

content            = ""
content-foreground = #3c3c3c
content-background = #212121

[module/temp_vol_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #3c3c3c

[module/vol_end]
type = custom/text

content            = ""
content-foreground = #353535
content-background = #212121

[module/vol_filea_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #353535

[module/filea_end]
type = custom/text

content            = ""
content-foreground = #303030
content-background = #212121

[module/filea_filem_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #303030

[module/filem_end]
type = custom/text

content            = ""
content-foreground = #282828
content-background = #212121

[module/filem_file_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #242424

[module/file_end]
type = custom/text

content            = ""
content-foreground = #242424
content-background = #212121

[module/file_cpu_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #212121

[module/cpu_end]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #212121

[module/cpu_mem_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #1f1f1f

[module/mem_end]
type = custom/text

content            = ""
content-foreground = #1f1f1f
content-background = #212121

[module/mem_x_divider]
type = custom/text

content            = ""
content-foreground = #212121
content-background = #1f1f1f